VS2008/Project116/Project116/Project116/fundtype2.xsd

<?xml version="1.0" encoding="euc-kr"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="kosdaq">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="stock">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="stockprice" type="xs:unsignedShort" />
              <xs:element name="prevstockprice" type="xs:short" />
            </xs:sequence>
            <xs:attribute name="stockname" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>